FACILITATOR_URL=''
SERVER_PORT=4141

MACHINE_A_ADDRESS='0x_prefixed_public_address'
MACHINE_A_PRIVATE_KEY='0x_prefixed_private_key'
MACHINE_B_ADDRESS='0x_prefixed_public_address'
MACHINE_B_PRIVATE_KEY='0x_prefixed_private_key'

HTTPS_BASE_URL='https://quicknode2.peaq.xyz'
WSS_BASE_URL='wss://quicknode2.peaq.xyz'